@{
    ViewBag.Title = "Home Page";
}
<div id="message" class="bg-info"></div>
<div class="container">
    <div class="form-group col-md-9">
        <div class="row">
            <span class="col-md-2" style="margin-top:10px;">Цвет :</span>
            <input id="colorName" class="form-control col-md-6" type="text" />
            <button onclick="saveColor();" class="btn btn-default">Добавить</button>
        </div>
    </div>
</div>

<script>

    function saveColor() {
        $.post("Home/AddColor",
            {
                colorName: $("#colorName").val()
            },
            function (data) {
                if (data) {
                    $('#message').html(data);
                }
            }
        );
    }

</script>